{
    "extends": [
        "stylelint-config-standard"
    ],
    "plugins": [
        "stylelint-order",
        "stylelint-config-rational-order/plugin"
    ],
    "rules": {
        "indentation": 4,
        "declaration-empty-line-before": "never",
        "no-missing-end-of-source-newline": null
    },
    "syntax": "scss"
}
